@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-Playfair: "Playfair Display", serif;
  --font-Poppins: "Poppins", sans-serif;
  --color-Primary: #333333;
  --color-Secondary: #1f3a93;
  --color-Accent: #ea580c;
  --color-Accent-light: #fff5ec;
  --color-Secondary-light: #8a9bb5;

  --font-h1-size: 2rem;
}

.list-items {
  @apply text-Primary  hover:text-white hover:bg-Secondary md:hover:bg-white hover:rounded-xl md:hover:text-Secondary text-base md:hover:text-xl w-full text-center py-4 transition-all ease-in-out;
}

.icon {
  @apply w-[24px] h-[24px] hover:h-[28px] text-Secondary;
}

.p-style {
  @apply text-base md:text-xl tracking-wide font-Poppins;
}

.section-style {
  @apply px-6 pt-16 md:p-10 mt-8 font-Poppins tracking-wide leading-normal;
}

.h2-style {
  @apply text-[2rem] md:text-[2.5rem] font-Playfair text-Secondary font-bold underline decoration-Primary decoration-1 underline-offset-4;
}

.h3-style {
  @apply text-2xl md:text-[2rem] font-Playfair text-Primary font-bold my-6;
}

.h3-project-style {
  @apply text-Secondary text-xl font-bold;
}

.decoration-line {
  @apply ml-3 h-[1px] border-0 bg-Primary;
}

.secondary-icon {
  @apply text-Secondary-light  w-[48px] h-[48px] md:w-[56px] md:h-[56px];
}

.view-link {
  @apply text-Secondary underline text-base md:text-lg;
}

.project-container {
  @apply grid grid-cols-1 md:grid-cols-2 gap-6 mt-16;
}
